extends layout

block content
  h1= title
  p Welcome to #{title}

  
  table.-tablaEntera(width='100%', align='center', cellspacing='0', cellpadding='10', border='2', bgcolor='#F2F2F2')
    tr 
      th.-A1
      th.-A2
      th.-A3
      th.-A4
      th.-A5
    tr 
      td.-B1
      td.-B2
      td.-B3
      td.-B4
      td.-B5
    tr 
      td.-C1
      td.-C2 
      td.-C3
      td.-C4
      td.-C5
    tr
      td.-D1
      td.-D2 
      td.-D3
      td.-D4
      td.-D5
    tr
      td.-E1
      td.-E2 
      td.-E3
      td.-E4
      td.-E5
    tr
      td.-F1
      td.-F2 
      td.-F3
      td.-F4
      td.-F5
      