extends layout

block content
  h1= title
  p Welcome to #{title}

  
  table.tablaEntera(width='100%', align='center', cellspacing='0', cellpadding='10', border='2', bgcolor='#F2F2F2')
    tr 
      th.1A
      th.2A
      th.3A
      th.4A
      th.5A
    tr 
      td.1B
      td.2B
      td.3B
      td.4B
      td.5B
    tr 
      td.1C
      td.2C 
      td.3C
      td.4C
      td.5C
    tr
      td.1D
      td.2D 
      td.3D
      td.4D
      td.5D
    tr
      td.1E
      td.2E 
      td.3E
      td.4E
      td.5E
    tr
      td.1F
      td.2F 
      td.3F
      td.4F
      td.5F
      