//Modificamos la manera en la que creamos la tabla para poder acceder a las filas y las columnas con dataset
table.-tablaEntera(width='100%', align='center', cellspacing='0', cellpadding='10', border='2')
  - const filas = ['A','B','C','D','E','F']
  each fila, i in filas
    tr
      each col, j in [0,1,2,3,4]
        td.-cell(id=`${fila}${j+1}` data-row=i data-col=j)