
table.-tablaEntera(width='100%', align='center', cellspacing='0', cellpadding='10', border='2')
  tr 
    th.-cell#A1
    th.-cell#A2
    th.-cell#A3
    th.-cell#A4
    th.-cell#A5
  tr 
    td.-cell#B1
    td.-cell#B2
    td.-cell#B3
    td.-cell#B4
    td.-cell#B5
  tr 
    td.-cell#C1
    td.-cell#C2 
    td.-cell#C3
    td.-cell#C4
    td.-cell#C5
  tr
    td.-cell#D1
    td.-cell#D2 
    td.-cell#D3
    td.-cell#D4
    td.-cell#D5
  tr
    td.-cell#E1
    td.-cell#E2 
    td.-cell#E3
    td.-cell#E4
    td.-cell#E5
  tr
    td.-cell#F1
    td.-cell#F2
    td.-cell#F3
    td.-cell#F4
    td.-cell#F5
    